@font-face {
    font-family: "glacial indiference";
    src: url("./fonts/glacialindiference/GlacialIndifference-Regular.otf") format('opentype');
}

@font-face {
    font-family: "glacial indiference bold";
    src: url("./fonts/glacialindiference/GlacialIndifference-Bold.otf") format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #001028;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

header {
    h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "glacial indiference";
    font-size: 100px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    }
    p {
    font-family: "Glacial Indifference";
    font-size: 20px;
    font-weight: 400;
    line-height: 72px;  
    letter-spacing: 0.5px;
    }
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
    p {
    font-family: "Glacial Indifference";
    font-size: 14px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    }
}

footer {
    p {
    color: #808291;
    font-family: "Glacial Indifference";
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
    }
}

#form {
    height: 70px;
}

#button {
    width: 170px;
    height: 72px;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: "glacial indiference";
    font-size: 16px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;  
    letter-spacing: 0.8px;
    border-radius: 0 5px 5px 0;
    background-color: #642eec;
}

#email {
    width: 770px;
    height: 71px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 5px 0 0 5px;
    background-color: #ffffff;
}

#blank {
    color: #ffffff;
}

.number {
    color: #ec2e5f;
    font-family: "glacial indiference";
    font-size: 100px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    width: 100px;
}

.papa {
    display: flex;
    justify-content: space-around;
}

.temps {
    color: #808291;
font-family: "glacial indiference";
font-size: 16px;
font-weight: 400;
line-height: 72px;
text-transform: uppercase;
/* Text style for "Days" */
letter-spacing: 1.6px;
}

@media only screen and (max-width: 971px) {
#email {
    width: 500px;
}
main {
    margin-top: 50px;
    margin-bottom: 50px;
}
}

@media only screen and (max-width: 771px) {
#email {
    width: 400px;
        }
        main {
    margin-top: 30px;
    margin-bottom: 40px;
}
}


@media only screen and (max-width: 601px) {
#email {
    width: 300px;
        }
        main {
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media only screen and (max-width: 501px) {
#email {
    width: 250px;
        }
.number {
    font-size: 90px; 
}
header > p {
    font-size: 19px;
}
header > h1 {
    font-size: 90px;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media only screen and (max-width: 441px) {
#email {
    width: 200px;
        }
.number {
    font-size: 80px; 
}
header > p {
    font-size: 18px;
}
header > h1 {
    font-size: 80px;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media only screen and (max-width: 401px) {
#email {
    width: 170px;
        }
#button {
    width: 140px;
        }
.number {
    font-size: 65px; 
}
header > p {
    font-size: 17px;
}
header > h1 {
    font-size: 65px;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
}
.temps {
    font-size: 15px;
}
}

@media only screen and (max-width: 391px) {
#email {
    width: 150px;
        }
#button {
    width: 130px;
        }
.number {
    font-size: 55px; 
}
header > p {
    font-size: 16px;
}
header > h1 {
    font-size: 55px;
}
main {
    margin-top: 50px;
    margin-bottom: 50px;
}
}


@media only screen and (max-width: 320px) {
    
}


