@font-face {
  font-family: "glacial indiference";
  src: url("./fonts/glacialindiference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
  font-family: "glacial indiference bold";
  src: url("./fonts/glacialindiference/GlacialIndifference-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #001028;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

header {
  margin-top: 30px;
}

header h1 {
  margin-top: 35px;
  margin-bottom: 30px;
  font-family: "glacial indiference";
  font-size: 100px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}

header p {
  font-family: "Glacial Indifference";
  font-size: 20px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.5px;
}

main {
  margin-top: 70px;
  margin-bottom: 100px;
}

main p {
  font-family: "Glacial Indifference";
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

footer p {
  color: #808291;
  font-family: "Glacial Indifference";
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6px;
}

#form {
  height: 72px;
}

#myBtn {
  cursor: pointer;
  width: 170px;
  height: 72px;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "glacial indiference";
  font-size: 16px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 0 5px 5px 0;
  background-color: #642eec;
}

#blacked {
  color: black;
}

#myModal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModal {
  border: none;
  outline: none;
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 28px;
  width: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.open {
  display: block;
}

.close {
  display: none;
}

#email {
  width: 670px;
  height: 71px;
  border: none;
  outline: none;
  padding-left: 65px;
  border-radius: 5px 0 0 5px;
  background-color: #ffffff;
}

#icon {
  position: relative;
  top: 4.4px;
  left: 45px;
}

#blank {
  color: #ffffff;
}

.number {
  color: #ec2e5f;
  font-family: "glacial indiference";
  font-size: 100px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
  width: 100px;
}

.papa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.temps {
  color: #808291;
  font-family: "glacial indiference";
  font-size: 16px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
  /* Text style for "Days" */
  letter-spacing: 1.6px;
}

@media only screen and (max-width: 971px) {
  #email {
    width: 500px;
  }
  main {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 771px) {
  #email {
    width: 350px;
  }
  main {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 605px) {
  #email {
    width: 250px;
  }
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 510px) {
  #email {
    width: 190px;
  }
  .number {
    font-size: 90px;
  }
  header > p {
    font-size: 19px;
  }
  header > h1 {
    font-size: 90px;
  }
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 452px) {
  #email {
    width: 150px;
  }
  .number {
    font-size: 80px;
  }
  header > p {
    font-size: 18px;
  }
  header > h1 {
    font-size: 80px;
  }
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 405px) {
  #email {
    width: 130px;
  }
  #button {
    width: 130px;
  }
  .number {
    font-size: 65px;
  }
  header > p {
    font-size: 17px;
  }
  header > h1 {
    font-size: 65px;
  }
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .temps {
    font-size: 15px;
  }
}

@media only screen and (max-width: 391px) {
  #email {
    width: 150px;
  }
  #button {
    width: 130px;
  }
  .number {
    font-size: 55px;
  }
  header > p {
    font-size: 16px;
  }
  header > h1 {
    font-size: 55px;
  }
  main {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=App.css.map */